---
layout: layouts/home.njk
title: Projects
eleventyNavigation:
  key: Projects
  order: 2
---
<div class="w3-padding-64 w3-content">
  <h2 class="w3-text-light-grey">Projects</h2>
  <hr style="width:200px" class="w3-opacity">

  <div class="projects-grid">
    <a class="project-card section-card" href="/projects/concept-art/">
      <div class="project-thumb">
        <img src="{{ '/img/projects/sections/concept-art.jpg' | url }}" alt="Concept Art">
        <div class="project-overlay"><i class="fa fa-link"></i></div>
      </div>
      <div class="project-meta">
        <div class="project-title">Concept Art</div>
      </div>
    </a>

    <a class="project-card section-card" href="/projects/graphic-design/">
      <div class="project-thumb">
        <img src="{{ '/img/projects/sections/graphic-design.jpg' | url }}" alt="Graphic Design">
        <div class="project-overlay"><i class="fa fa-link"></i></div>
      </div>
      <div class="project-meta">
        <div class="project-title">Graphic Design</div>
      </div>
    </a>

    <a class="project-card section-card" href="/projects/short-film-projects/">
      <div class="project-thumb">
        <img src="{{ '/img/projects/sections/short-film-projects.jpg' | url }}" alt="Short Film Projects">
        <div class="project-overlay"><i class="fa fa-link"></i></div>
      </div>
      <div class="project-meta">
        <div class="project-title">Short Film Projects</div>
      </div>
    </a>
  </div>
</div>
