<section class="home-sections" aria-label="Projects">
  <div class="hs-row">
    <a class="hs-card" href="{{ '/projects/concept-art/' | url }}" aria-label="Concept Art">
      <img src="{{ '/img/projects/sections/concept-art.jpg' | url }}" alt="Concept Art">
      <span class="hs-title">Concept Art</span>
    </a>

    <a class="hs-card" href="{{ '/projects/graphic-design/' | url }}" aria-label="Graphic Design">
      <img src="{{ '/img/projects/sections/graphic-design.jpg' | url }}" alt="Graphic Design">
      <span class="hs-title">Graphic Design</span>
    </a>

    <a class="hs-card" href="{{ '/projects/short-film-projects/' | url }}" aria-label="Short Film Projects">
      <img src="{{ '/img/projects/sections/short-films.jpg' | url }}" alt="Short Film Projects">
      <span class="hs-title">Short Film Projects</span>
    </a>
  </div>
</section>
